@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #181818;
  font-family: "Roboto", sans-serif;
  margin: 72px 0;
}

.page-title {
  color: rgb(236, 54, 78);
  padding-left: 64px;
  margin-bottom: 6px;
}

.page-description {
  padding-left: 64px;
  color: rgba(255, 255, 255, 0.6);
}

.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.video {
  width: 30%;
  height: fit-content;
  padding: 32px 12px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.video:hover {
  transform: scale(1.02);
  filter: brightness(120%);
}

.thumbnail-properties {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 66.64%;
}

.thumbnail1 {
  background-image: url("https://picsum.photos/800/500?random=1");
}

.thumbnail2 {
  background-image: url("https://picsum.photos/800/500?random=2");
}

.thumbnail3 {
  background-image: url("https://picsum.photos/800/500?random=3");
}

.thumbnail4 {
  background-image: url("https://picsum.photos/800/500?random=4");
}

.thumbnail5 {
  background-image: url("https://picsum.photos/800/500?random=5");
}

.thumbnail6 {
  background-image: url("https://picsum.photos/800/500?random=6");
}

.thumbnail7 {
  background-image: url("https://picsum.photos/800/500?random=7");
}

.thumbnail8 {
  background-image: url("https://picsum.photos/800/500?random=8");
}

.thumbnail9 {
  background-image: url("https://picsum.photos/800/500?random=9");
}

.video-time {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: fit-content;
  float: right;
  padding: 8px 12px;
  display: block;
  transform: translateY(-57px);
}

.video-title {
  color: white;
  margin: 8px 0 12px;
}

.video-description {
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
}

.video-views {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 12px;
  display: block;
}

.video-date {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
  text-align: right;
  display: block;
}